* {
    box-sizing: border-box;
}

.game {
    border: solid 1px black;
}

.info {
    z-index: 99px;
    position: absolute;
    color: black;
}

.player{
    z-index: 3;
}

.map{
    border: 1px black solid;
    z-index: 1;
}

.obj{
    z-index: 2;
}

.interface{
    z-index:4;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    margin-left: -512px;
    height: 768px;
    margin-top: -384px;
    background-color: transparent;
}

body{
    width: 100%;
    height: 100%;
    height: auto;
    margin: 0;
}

/*css - Masha*/
.background {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.form {
    position: absolute;
    width: 100%;
    top: 200px;
}
.formFlex {
    display: flex;
    margin: 0 auto;
    padding: 70px;
    background: rgba(0,0,0,.4);
    width: 500px;
    border-radius: 2px;
    font-family: Arial;
}
.header {
    color: rgb(184,75,110);
    margin: 0;
    text-shadow: 2px 2px 10px #000;
    margin-bottom: 30px;
}
.btn {
    display: block;
    padding: 5px 15px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    color: #2b2b2b;
    line-height: 22px;
}
.btn:hover {
    cursor: pointer;
}
.login {
    margin-top: 30px;
    width: 100%;
    background: rgb(184,75,110);
    color: #fff;
}
.login:hover {
    border: solid 2px rgb(129, 55, 78);
    margin-top: 28px;
    transition: .2s;
}
.login:active {
    background: rgb(129, 55, 78);
}
.form .input {
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
.imgBlock {
    margin-right: 20px;
}
.imgBlock img {
    max-width: 100%;
}




